In [1]:
number1 = 10
number2 = 5

sum_result = number1 + number2

difference_result = number1 - number2

product_result = number1 * number2

quotient_result = number1 / number2

print("Number 1:", number1)
print("Number 2:", number2)
print("Sum:", sum_result)
print("Difference:", difference_result)
print("Product:", product_result)
print("Quotient:", quotient_result)

Number 1: 10
Number 2: 5
Sum: 15
Difference: 5
Product: 50
Quotient: 2.0

In [2]:
x = 10

y = x
print("Basic Assignment (y = x):", y)

x += 5
print("Addition Assignment (x += 5):", x)

x -= 3
print("Subtraction Assignment (x -= 3):", x)

x *= 2
print("Multiplication Assignment (x *= 2):", x)

x /= 4
print("Division Assignment (x /= 4):", x)

x %= 3
print("Modulus Assignment (x %= 3):", x)

x **= 2
print("Exponentiation Assignment (x **= 2):", x)

x //= 2
print("Floor Division Assignment (x //= 2):", x)

Basic Assignment (y = x): 10
Addition Assignment (x += 5): 15
Subtraction Assignment (x -= 3): 12
Multiplication Assignment (x *= 2): 24
Division Assignment (x /= 4): 6.0
Modulus Assignment (x %= 3): 0.0
Exponentiation Assignment (x **= 2): 0.0
Floor Division Assignment (x //= 2): 0.0

In [3]:

number1 = 10
number2 = 5

print("Number 1:", number1)
print("Number 2:", number2)

print("Equal to:", number1 == number2)

print("Not equal to:", number1 != number2)

print("Greater than:", number1 > number2)

print("Greater than or equal to:", number1 >= number2)

print("Less than:", number1 < number2)

print("Less than or equal to:", number1 <= number2)

Number 1: 10
Number 2: 5
Equal to: False
Not equal to: True
Greater than: True
Greater than or equal to: True
Less than: False
Less than or equal to: False

In [1]:
# Any two numbers
number1 = 10
number2 = 5

# Logical AND
condition_and = (number1 > 5) and (number2 < 8)
print("Logical AND:", condition_and)

# Logical OR
condition_or = (number1 > 12) or (number2 < 3)
print("Logical OR:", condition_or)

# Logical NOT
condition_not = not (number1 == number2)
print("Logical NOT:", condition_not)

Logical AND: True
Logical OR: False
Logical NOT: True

In [2]:
variable1 = [1, 2, 3]
variable2 = [1, 2, 3]

identity_check = variable1 is variable2

print("Variable 1:", variable1)
print("Variable 2:", variable2)
print("Identity Check:", identity_check)

Variable 1: [1, 2, 3]
Variable 2: [1, 2, 3]
Identity Check: False

In [3]:
# Two integers
integer1 = 10   # Binary: 1010
integer2 = 5    # Binary: 0101

# Bitwise AND
bitwise_and_result = integer1 & integer2
print("Bitwise AND:", bitwise_and_result)

# Bitwise OR
bitwise_or = integer1 | integer2
print("Bitwise OR:", bitwise_or)

# Bitwise XOR
bitwise_xor = integer1 ^ integer2
print("Bitwise XOR:", bitwise_xor)

# Bitwise NOT
bitwise_not = ~integer1
print("Bitwise NOT (integer1):", bitwise_not)

# Left shift
left_shift = integer1 << 2
print("Left Shift (integer1):", left_shift)

# Right shift
right_shift = integer2 >> 1
print("Right Shift (integer2):", right_shift)

Bitwise AND: 0
Bitwise OR: 15
Bitwise XOR: 15
Bitwise NOT (integer1): -11
Left Shift (integer1): 40
Right Shift (integer2): 2

In [4]:
# Original number
original_number = 15

negative_number = -original_number
print("Original Number:", original_number)
print("Negative Number:", negative_number)

positive_number = +original_number
print("Positive Number:", positive_number)

Original Number: 15
Negative Number: -15
Positive Number: 15

In [5]:
x = 10
y = 5

result = "x is greater" if x > y else "y is greater or equal"

print(result)

x is greater